name: dist

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust nightly
        uses: dtolnay/rust-toolchain@nightly
      - name: Install cargo-dist
        run: cargo install cargo-dist --locked --root ~/.cargo
      - name: Build distributions
        env:
          CARGO_TERM_COLOR: always
        run: |
          cargo dist build --installer-shell=sh --installer-powershell=powershell
      - name: Checksums
        run: |
          find target/dist -type f ! -name "*.sha256" -print0 | while IFS= read -r -d '' f; do
            sha256sum "$f" > "$f.sha256";
          done
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts
          path: target/dist/**/*
